<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>movie</mat-icon>
  </button>
  <span>Movie</span>
  <span class="example-spacer"></span>
  <div>
    <button
      mat-button
      routerLinkActive="active"
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </button>
    <button mat-button routerLinkActive="active" routerLink="/signin">
      Sign in
    </button>
    <button mat-button routerLinkActive="active" routerLink="/signup">
      Sign up
    </button>
    <button mat-button routerLinkActive="active" routerLink="/movie/new">
      Create new movie
    </button>
  </div>
</mat-toolbar>
